@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
}

button {
  border: none;
  border-radius: 30px;
  height: 53px;
  margin: 10px;
  width: 100px;
}

.container {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  display: inline-block;
  padding: 30px;
  text-align: center;
  background: #fff;
  margin: 15px;
  overflow: hidden;
  position: relative;
  width: 300px;
}
.container > img {
  height: 300px;
  margin-left: -30px;
  margin-top: -30px;
}

header {
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  background-color: #000;
  padding: 20px;
  width: 100%;
  margin-bottom: 30px;
}
header > img {
  height: 20vw;
}

.title_info {
  display: flex;
  gap: 10vw;
  justify-content: center;
  margin: 25px;
}

input {
  border: none;
  border-radius: 20px;
  font-size: 2rem;
  height: 50px;
  text-align: center;
  width: 400px;
}

.item {
  font-weight: bold;

  margin: 7px;
  text-align: left;
}
